<%# @jobs.each do |job| %>
<!--  <div class="job">
    <h3><a href="<%#= job['redirect_url'] %>" target="_blank"><%= job['title'] %></a></h3>
    <p><%#= job['company']['display_name'] %> - <%= job['location']['display_name'] %></p>
    <p><%#= job['description'] %></p>

    <!-- Adzuna attribution -->-->
<!--    <div class="adzuna-credit">
      <a href="http://www.adzuna.com" target="_blank">Jobs</a>
      <a href="http://www.adzuna.com" target="_blank">
        <img src="https://www.adzuna.com/static/images/adzuna_logo.png" alt="Adzuna" height="20">
      </a>
    </div>
  </div>
<%# end %>-->
