<h1>Search Results</h1>

<% if @What_hash.any? %>
  <ul>
    <% @What_hash.each do |What| %>
      <li>
        <strong><%= @What_hash['title'] %></strong><br>
        <em><%= @who_hash['company'] %></em><br>
        <%= @where_hash['locations'] %><br>
        <a href="<%= @What_hash['url'] %>" target="_blank">View Job</a>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No jobs found.</p>
<% end %>

<a href="/">← New Search</a>
