<h1>Search for Jobs</h1>

<form action="/results">
  <label for="iguana">What:</label>
  <input id="iguana" type="text" name="what"><br>

  <label for="anole">Where:</label>
  <input id="anole" type="text" name="where">

  <input type="submit" value="search">
</form>
